
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.first{
     /* background-color: red; */
    height: 79px;
    width: 90px;
    /* padding: 10px; */
    border: 2px solid black;
    border-radius: 50%;
    margin: -2px;

}
.f{
  background-color: red;
   height: 79px;
    width: 90px;
  border-radius: 50%;

}
.s{
  background-color: rgb(17, 0, 255);
   height: 79px;
    width: 90px;
  border-radius: 50%;

}.t{
  background-color: rgb(0, 255, 102);
   height: 79px;
    width: 90px;
  border-radius: 50%;

}

.third{
    /* background-color: rgb(34, 0, 255); */
    height: 79px;
    width: 90px;
    /* padding: 10px; */
    border-radius: 50%;
        border: 2px solid black;

    margin: -2px;
}

.second {
    /* background-color: rgb(3, 191, 0); */
    height: 79px;
    width: 90px;
    /* padding: 10px; */
    border-radius: 50%;
        border: 2px solid black;

    margin: -2px;
}

.first-1{
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 0px 0px 10px 10px;
      margin-bottom: 27px;
  
}